header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background-color: rgb(161, 161, 161);
  color: rgb(49, 49, 49)
}

.menu-container{
  position: absolute;
  left: 0;
  top: 0;
  width: 80vmin;
  height: 100vh;
  background-color: white;
  box-shadow: -4px 0px 17px 0px;
}

.menu{
  display: flex;
  flex-direction: column;
  color: black;
}

.menu > a{
  padding: 1.5em;
  text-align: center;
  color: black;
  border-bottom: .5px solid grey;
  display: block;
}

.menu > a:link, .menu > a:visited, .menu > a:hover, .menu > a:active{
  color: black;
  text-decoration: none;
}

.menu a:hover{
  transition: all .6s ease;
  background-color: rgb(211, 211, 211);
}